header {
  align-items: center;
  display: inline-flex;
  margin: 40px 100px;
  width: 1240px;

  img {
    height: 68px;
  }

  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;

    .lien-site {
      color: black;
      margin: auto 25px;
      text-decoration: none;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 24px;

      &.active {
        border-bottom: 1px solid black;
      }
    }
  }
}