.announcement__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    .announcement__left {
      gap: 30px;
      display: flex;
      flex-direction: column;
    }
  
    .announcement__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      gap: 30px;
    }
  }

  .collapse__container {
    display: flex;
    justify-content: space-between; /* Pour espacer les collapses à gauche et à droite */
    align-items: flex-start; /* Aligne les collapses en haut */
}

.collapse__box {
    width: 582px; /* Largeur fixe pour chaque collapse */
    margin-bottom: 20px; /* Espace en bas des collapses */
    box-sizing: border-box; /* Assure que la largeur inclut le padding et les bordures */
}

