.announcement__container {
    height: 77px;
}

.announcement__title {
    margin: 0;
    font-size: 36px;
    font-family: Montserrat;
    color: #FF6060;
    height: 51px;
    font-weight: 500;
}

.announcement__location {
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
}