$primary-color: #FF6060;
$background-color: #F6F6F673;
$text-color-white: white;
$text-color-black: black;

.collapse {
  width: 1023px;
  margin: 20px 0;

  &__button {
    padding: 0.5em 1em;
    min-height: 52px;
    background-color: $primary-color;
    color: $text-color-white;
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    border-style: none;
    width: 100%; /* Make the button take the full width of the collapse box */

    img {
      transition: transform 0.3s ease;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    border-radius: 10px;
    overflow: hidden; 
    transition: max-height 0.5s ease; 
    max-height: 0; 
    display: flex;
    align-items: center;
    color: $text-color-black;
    margin: 0;
    min-width: 100%; /* Use 100% to ensure it uses the full width of the collapse box */
    max-width: 100%;
    background-color: $background-color;
    font-family: Montserrat;
    font-size: 18px;

    &.show {
      max-height: 500px; 
    }
  }


}


