.header-container {
  max-width: 1240px; // Limite la largeur à 1240px
  max-height: 68px;
  margin: 0 auto;    // Centre le header horizontalement
  display: flex;     // Utilise flexbox pour aligner le contenu
  align-items: center; // Aligne verticalement l'image et la nav
  justify-content: space-between; // Espacement entre l'image et la nav
  padding-bottom: 45px;

  img {
    height: 68px;
  }

  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;

    .lien-site {
      color: black;
      margin: auto 25px;
      text-decoration: none;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 24px;

      &.active {
        border-bottom: 1px solid black;
      }
    }
  }
}