@import 'variables';
@import 'mixin';

#banner {
  height: 223px;
  width: 1240px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  @include mobile {
    height: 111px; 
    width: $full-width-mobile;
    margin: 20px;
  }
  


  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.6);
  }

  h1 {
    position: absolute;
    top: 200px;
    font-size: $font-size-48;
    font-family: $font-family;
    font-weight: $font-weight-700;
    color: $text-color-white;
    text-shadow: 
      -1px -1px 0px black,
      1px -1px 0px black,
      -1px 1px 0px black,
      1px 1px 0px black;
    @include mobile {
    font-size: $font-size-18; 
    text-align: left;
    text-shadow: none;
    top: 100px;
    left: 40px;
    font-size: $font-size-24;
    } 
  } 
}

