@import 'variables';
@import 'mixin';

.location__card {
  text-decoration: none; 
  @include mobile {
    width: $full-width-mobile;
    height: 270px;
    }

  &__figure {
    cursor: pointer;
    width: $width-card;
    height: $height-card;
    margin: 30px;
    transition: 0.2s;
    @include mobile {  
    height: 255px;
    }
 
     &:hover {
      scale: 1.05;
     }
 
     .location__card__image {
      object-fit: cover;
      width: $width-card;
      height: $height-card;
      border-radius: 15px;
      filter: brightness(0.9);
      @include mobile {
        height: 255px;
        width: $full-width-mobile;
        }
     }
 
   
 
    .location__card__title {
      color: white;
      font-size: 18px;
      font-weight: $font-weight-700;
      position: relative;
      width: 300px;
      height: 52px;
      font-family: $font-family;
      bottom: 60px;
      left: 20px;
     } 
   }
}
 
