@import 'variables';
@import 'mixin';

.collapse {
  width: 1023px;
  margin: 20px 0;
  @include mobile {
    width: 335px;
    margin: 10px;
    }

  &__button {
    padding: 0.5em 1em;
    min-height: 52px;
    background-color: $primary-color;
    color: $text-color-white;
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family;
    border-style: none;
    width: 100%; 
    font-weight: $font-weight-700;
    @include mobile {
      font-size: 13px;
      min-height: 30px;
      max-height: 30px;
      }

    img {
      transition: transform 0.3s ease;
      cursor: pointer;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden; 
    transition: max-height 0.5s ease; 
    max-height: 0; 
    display: flex;
    align-items: center;
    color: $text-color-black;
    margin: 0;
    min-width: 100%;
    font-family: $font-family;
    font-size: 18px;
    padding: 0 15px;
    @include mobile {
      font-size: 13px;
      }

    &.show {
      max-height: 500px; 
      background-color: $background-color;
    }
  }


}


