@import 'variables';

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $gallery-margin 0;
  @media screen and (max-width: 375px) {
    max-width: 335px;
    margin: 20px;
  }
  
  &__image {
    min-width: 100%;
    height: $image-height;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 375px) {
      max-height: 255px;
    }
  }

  &__button {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &--left {
      left: $button-size;
      @media screen and (max-width: 375px) {
        max-height: 24px;
      }
    }

    &--right {
      right: $button-size; 
      @media screen and (max-width: 375px) {
        max-height: 24px;
      }
    }
  }

  .image__counter {
    margin-top: 10px; 
    font-size: 18px; 
    font-weight: 500;
    font-family: $font-family;
    color: $text-color-white; 
    text-align: center; 
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
  }
}