@import 'variables';
@import 'mixin';

.announcement {
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile {
      flex-direction: column; 
    }
  }

    &__left {
      gap: 30px;
      display: flex;
      flex-direction: column;

      @include mobile {
        flex-wrap: wrap;
        gap: 0;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end; 
      text-align: right;
      gap: 30px;

      @include mobile {
        flex-direction: row-reverse;
        align-items: flex-start; 
        text-align: left; 
        justify-content: space-between;
        align-items: center;
        margin: $margin-mobile;
        min-width: $full-width-mobile;
      }
    }
  }

  .collapse__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 76px;
    @include mobile {
    flex-direction: column;
    gap: 0;
    margin: 0 10px;
    }

    ul {
      list-style: none;
      padding-inline-start: 0;
    }
  }

.equipments__content {
  text-align: start;
}



