.announcement__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    .announcement__left {
      gap: 30px;
      display: flex;
      flex-direction: column;
    }
  
    .announcement__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      gap: 30px;
    }
  }

  .collapse__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 76px;
}

ul {
    list-style: none;
}

.equipments-content {
    text-align: start;
}


