@import 'variables';

.announcement__container {
    height: 77px;
    @media screen and (max-width: 375px) {
        height: auto;
        margin-bottom: 20px;
      }
}

.announcement__title {
    
    margin: 0;
    font-size: 36px;
    font-family: $font-family;
    color: $primary-color;
    height: 51px;
    font-weight: 500;
    @media screen and (max-width: 375px) {
        font-size: 18px;
        height: auto;
        margin: 0px 20px 5px;
      }
}

.announcement__location {
    margin: 0;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width: 375px) {
        font-size: 14px;
        margin: 0px 20px;
      }
}